.header-row {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* .header {
  background-color: rgba(16, 18, 20, 0.979);
} */

.butn-header {
  display: flex;
  height: 40px;
}

.bookmark-btn {
  display: flex;
  justify-content: flex-end;
}

/* .book-btn {
  border: none;
  background-color: #212529;
  color: white;
} */

.bookmark-icon {
  margin-right: 5px;
}

.login-icon {
  margin-right: 10px;
}

.busca-icon {
  color: black;
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1%) contrast(100%);
  padding-right: 5px;
}

.search-bar {
  background-color: white;
  border: 0px;
  padding-right: 0px;
}

.search-bar-container {
  border: 1px solid #ced4da;
  border-radius: 3px;
  align-items: center;
  display: flex;
  background-color: white;
}
