.logo {
  color: white;
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

.butn-header {
  display: flex;
}

.bookmark-icon {
  margin-right: 5px;
}

.login-icon {
  margin-right: 10px;
}

.busca-icon {
  color: white;
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}
