@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.movie {
  background-color: rgba(0, 0, 0, 0.342);
  color: white;
  font-family: 'Abel', sans-serif;
  margin-top: 3%;
  padding: 0;
}

.movie__img {
  display: flex;
}

.movie__title {
  font-size: 48px;
}

.back-img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.movie__genre {
  margin-right: 5px;
}
